.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.continue{
  color: white;
  background-color: var(--primary);
  border: 10px;
  padding: 10px 40px;
  cursor: pointer;
  transition: all .3s;
}
.continue:active{
  background-color: rgba(0, 53, 128, .3);
}
.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}
.facebook-button{
  background-color: #3961BA;
  padding: 10px;
  border-radius: 6px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.other-options{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}