.search-main1 {
  border: 3px solid #febb02;
  /* position: absolute; */
  /* top:220px; */
  height: 60px;
  flex: 1;
  width: 100%;
  background-color: white;
  display: flex;
}
.header-flight {
  position: relative;
}
.search-children1 {
  height: 100%;
}

.from-div .input,
.to-div .input {
  border: none;
  outline: none;
  padding-right: 5px;
  display: flex;
  flex: 1;
}

.from-div,
.to-div,
.from-div .input,
.to-div .input {
  height: 100%;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.icon-plane {
  z-index: 1;
  color: var(--primary);
  padding: 4px 10px 0px 10px;
  font-size: 20px;
}
.icon-arrow-rotate {
  font-size: 25px;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.4s;
  transform: rotate(0deg);
}

.icon-arrow-rotate:active {
  transform: rotate(360deg);
}
.calender-div {
  width: 275px;
  display: flex;
  height: 100%;
  align-items: center;
  border-right: 3px solid #febb02;
  padding-right: 5px;
}
.search-children1:last-child {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 70px;
}
.search-children1:nth-child(1),
.search-children1:nth-child(2) {
  display: flex;
  flex: 1;
  border-right: 3px solid #febb02;
}
.icon-search {
  color: var(--primary);
  font-size: 35px;
  cursor: pointer;
}
.flight-list {
  border: 1px solid gray;
  border-radius: 4px;
}
.cities-list1 {
  border: 1px solid gray;
  border-top-width: 0px;
  position: absolute;
  top: 58px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: white;
  list-style-type: none;
  /* max-height: 400px;
    overflow-y: scroll; */
}
.cities-item1 {
  color: gray;
  list-style-type: none;
  padding: 7px 20px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.cities-item1:hover {
  /* background-color: #dfdede; */
  cursor: pointer;
  /* color: white; */
}
.none {
  display: none !important;
}
.input input {
  width: 100%;
}
.radio-parent {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}
.date1 {
  position: absolute;
  top: 150px;
  z-index: 2;
}
.date-range {
  position: absolute;
  top: 533px;
  left: 0px;
  z-index: 10;
  width: 352px;
  background-color: #ebf2ff !important;
  display: flex;
  padding: 10px 10px;
  border-radius: 0 0 5px 5px;
  justify-content: space-between;
  box-sizing: border-box;
}
.date-range select {
  border: 1px solid #bdbdbd;
  padding: 5px;
}
.date-range div span {
  color: #333333;
  font-size: 13px;
  margin-right: 10px;
}
.date-range div {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.date-range :first-child {
    margin-right: 5px;
}
